<header class="cabecera__contenedor row">
  {% if page.sesion %}
  <nav class="menu__usuario col-12 row">
    <a href="#" data-component="dropdown" data-target="#submenu" class="menu__item push-right">
      <b>Nombre usuario</b> <span class="caret down"></span></a>

    <!-- Dropdown -->
    <div class="dropdown hide" id="submenu">
      <ul>
        <li><a href="perfil.html#perfil">Perfil</a></li>
        <li><a href="perfil.html#configuracion">Configuración</a></li>
        <li><a href="perfil.html#historial">Historial</a></li>
        <br>
        <li><a href="#"><b>Cerrar sesión</b></a></li>
      </ul>
    </div>
  </nav>
  {% else %}
  <div class="col col-12 inises__contenedor">
    <a href="{{ site.baseurl }}ingresar.html">Iniciar sesión</a>
    <a href="{{ site.baseurl }}registrar.html">Registrarse</a>
  </div>
  {% endif %}




  <div class="col col-12 row auto menu__contenedor">
    <div class="col">
      <h1 class="menu__titulo">Biblioteca Virtual Turing</h1>
    </div>

    <nav class="menu col" >
      <a class="menu__item" href="{{ site.baseurl }}index.html">Inicio</a>
      <a class="menu__item" href="{{ site.baseurl }}informacion.html">Información</a>
      <a class="menu__item" href="{{ site.baseurl }}categorias.html">categorías</a>
      <a href="{{ site.baseurl }}admin.html" class="menu__item "><span class="info-text">Administración</span></a>
    </nav>
  </div>

</header>
