<meta charset="utf-8">
<meta http-equiv="content-language" content="es">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>


<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}assets/css/kube.min.css">

{% if layout.css_files %}
<!-- Hojas de estilos adicionales, que se recibe como parámetro -->
  {% for stylesheet in layout.css_files %}

    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}assets/{{ stylesheet.path }}" >

  {% endfor %}

{% endif %}
