<header class="cabecera__contenedor row">

  <div class="col col-12 inises__contenedor">
    <a href="{{ site.baseurl }}/ingresar.html">Iniciar sesión</a>
    <a href="{{ site.baseurl }}/registrar.html">Registrarse</a>
  </div>

  <div class="col col-12 row menu__contenedor">
    <div class="col col-6">
      <h1 class="menu__titulo">Biblioteca Virtual Turing</h1>
    </div>

    <nav class="menu col col-6" >
      <a href="{{ site.baseurl }}/index.html">Inicio</a>
      <a href="{{ site.baseurl }}/informacion.html">Información</a>
      <a href="{{ site.baseurl }}/categorias.html">categorías</a>
    </nav>
  </div>

</header>
