$fondo: #F5F1E3
$titulo: #7B604A

$btn-sesion: #1B9AAA
$btn-sesion-hover: #6DBEC8

$ingresar-titulo: #0696dd
$ingresar-outline: #488da3
$btn-ingresar: #49ac4f
$btn-ingresar-hover: #5ad161
$ingresar-fondo: #4d4d4d

$pie-principal-color: darken($titulo, 10)
