<!DOCTYPE html>
<html>
  <head>
    {% include estilos-base.html %}

    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/js/vegas/vegas.min.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/base.css">
  </head>
  <body>
    <div class="contenedor__principal">

      {% include header.html %}


      {{ content }}


      <footer class="pie-principal">Copyright 2017 - Wendy Argente</footer>
    </div>


    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/vegas/vegas.min.js" charset="utf-8"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/kube.min.js" charset="utf-8"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/base.js" charset="utf-8"></script>
  </body>
</html>
